## 生成 #@layout
#set($layout="#@layout")
$layout()
## 生成 #@layout
\#define main()
<h1>新增
</h1>
<div class="form_box">
	<form action="/${tableName}/save" method="post">
		\#include("_form.html")
	</form>
</div>
\#end
