## 生成 #@layout
#set($layout="#@layout")
$layout()
## 生成 #@layout
\#define main()
<h1>列表&nbsp;&nbsp;
<a href="/${tableName}/add">新增</a>
</h1>
<div class="table_box">
	<table class="list">
		<tbody>
			<tr>
        <th >序列</th>
	#foreach (${column} in ${columns})
	#if(!${column.isPrimaryKey})
	<th >${column.remarks}</th>
	#end
	#end
		<th >操作</th>
			</tr>
		#set($for="#for")
		$for(x : ${tableName}Page.getList())
		<tr>
        <td style="text-align:left;">${velocityCount}</td>
		#foreach (${column} in ${columns})
		#if(!${column.isPrimaryKey})
        <td style="text-align:left;">#(x.${column.name})</td>
		#end
		#end
		<td style="text-align:left;">
			&nbsp;&nbsp;<a href="/${tableName}/delete/#(x.id)">删除</a>
			&nbsp;&nbsp;<a href="/${tableName}/edit/#(x.id)">修改</a>
		</td>
		</tr>
			\#end
		</tbody>
	</table>
	#set($paginate="#@paginate")
	$paginate(${tableName}Page.pageNumber, ${tableName}Page.totalPage, "/${tableName}/")
</div>
\#end