package ${package};

import ${modelPackageName}.${className};
import com.jfinal.core.Controller;
import com.jfinal.validate.Validator;

/**
*  Validator
*/
public class ${className}Validator extends Validator {

    protected void validate(Controller controller) {
#foreach (${column} in ${columns.commonColumns})
    #if($!column.isNullable=="0")
        #set($isNullable=true)
    #else
        #set($isNullable=false)
    #end

#if($!column.sqlType ==  "string")
        #set($size=$column.size / 2)
        validateString($isNullable,"${tableName}.${column.name}", 1,${size},"${column.name}Msg", "${column.remarks}");
#elseif($!column.sqlType ==  "int")
        validateInteger($isNullable,"${tableName}.${column.name}", ${column.size},"${column.name}Msg", "${column.remarks}");
#elseif($!column.sqlType ==  "double")
        validateDouble($isNullable,"${tableName}.${column.name}", ${column.size},"${column.name}Msg", "${column.remarks}");
#end
#end

#foreach (${column} in ${columns.bigColumns})
    #if($!column.isNullable=="0")
        #set($isNullable=true)
    #else
        #set($isNullable=false)
    #end

    #if($!column.sqlType ==  "text")
        validateText($isNullable,"${tableName}.${column.name}", ${column.size},"${column.name}Msg", "${column.remarks}");
    #elseif($!column.sqlType ==  "longtext")
        validateBlob($isNullable,"${tableName}.${column.name}","${column.name}Msg", "${column.remarks}");
    #end
#end

    }

    protected void handleError(Controller controller) {
        controller.keepModel(${className}.class);
        String actionKey = getActionKey();
        if (actionKey.equals("/${tableName}/save")){
            controller.render("add.html");
        }else if (actionKey.equals("/${tableName}/update")){
            controller.render("edit.html");
        }
    }
}